@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-page-layout {
    background-image: url("./../Images/benjamin-hung-340395-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 860px;
    width: 100%;
    margin-bottom: 200px;
    opacity: .9;
}

/*ben rasmussen*/
.top-page-content h1 {
    font-family: 'Pacifico', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 50px;
    top: 40px;
    color: lightskyblue;
}

/*icons are inside this box-div*/
.box-div {
    position: absolute;
    top: 45px;
    right: 45px;
    width: 260px;
    height: 260px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border-radius: 3px;
    text-align: center;
    opacity: .8;
}

.box:hover {
    -webkit-transition: all .35s;
    box-shadow: deepskyblue;
    border: 3px solid white;
    background: lightseagreen;
    color: black;
    opacity: .9;
}

.github-anchor {
    position: absolute;
    top: 0px;
}

.github-anchor:hover {
    height: 150px;
}

.github-icon {
    position: relative;
    top: 35px;
    font-size: xx-large;
}

.linkedin-anchor {
    position: absolute;
    top: 0px;
    right: 0px;
}

.linkedin-anchor:hover {
    width: 150px;
}

.linkedin-icon {
    position: relative;
    top: 35px;
    font-size: xx-large;
}

.portfolio-div {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.portfolio-div:hover {
    width: 150px;
}

.portfolio-icon {

}

.about-me-div {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.about-me-div:hover {
    height: 150px;
}

.about-me-icon {

}

/*Web and Software dev*/
.top-page-content h3 {
    font-family: 'Quicksand', serif;
    position: absolute;
    top: 170px;
    left: 60px;
    color: mediumaquamarine;
    font-weight: bolder;
}

.Software {
    padding: 10px;
    border-radius: 3px;
    background-color: antiquewhite;
    opacity: .9;
}

.Software:hover {
    -webkit-transition: all .35s;
    box-shadow: inset 2px -100px 0 #99f4f8;
    border: 0px solid lightskyblue;
    background: magenta;
    color: deeppink;
}


/*passion for..UI/UX*/
.uxui {
    margin: 200px;
    text-align: center;
    font-family: 'Quicksand', serif;
}

.middle-page-layout {
    background-image: url("./../Images/DmitriPopov_minatoTokyo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 860px;
    width: 100%;
    margin-bottom: 200px;
    opacity: .9;
}



@media screen and (max-width: 700px) {
    body {
        margin: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .top-page-layout {
        background-image: url("./../Images/cherry-blossom.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 860px;
        width: 100%;
        margin-bottom: 150px;
        opacity: .5;
    }

    .top-page-content {
        position: absolute;
        font-family: 'Pacifico', sans-serif;
        top: 0;
        left: 0;
    }

    /*ben rasmussen*/
    .top-page-content h1 {
        position: relative;
        font-size: 30px;
        text-align: left;
        left: 50px;
        top: 40px;
    }

    /*Web and Software dev*/
    .top-page-content h3 {
        font-family: 'Quicksand', serif;
        position: relative;
        font-size: 20px;
        top: 50px;
        left: 50px;
    }

}


/*.clock-main {*/
/*position: absolute;*/
/*top: 5px;*/
/*left: 5px;*/
/*width: 25%;*/
/*background: lightskyblue;*/
/*color: black;*/
/*display: inline-block;*/
/*border-radius: 5px;*/
/*height: 20%;*/
/*}*/

/*background-color: #5E9DC8;*/
